
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "resources/assets/css/app";

@import "node_modules/select2/src/scss/core.scss";

.conversation-wrapper, .message-wrapper{
	height: 700px;
	overflow-y:scroll; 
}